@import "variables";
@import "mixin.scss";

html {
  @include overal;
}

* , *::after ,*::before {
  @include reset;
}

body {
  background-color: $bgColor;
}

header {
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  h1 {
    a{
      @include textStyle(2rem, bold, $secondaryColor);
    }
  }
}
.navbar {
  display: flex;
  align-items: center;

  nav {
    order: 2;
  }
  }
  ul {
    display: flex;
    order: 2;
    list-style: none;
    a {
      padding: 0.8rem;
      @include textStyle(1.6rem, bold, $secondaryColor);

      &:hover {
        color: $textColor;
      }
    }
  }
  .logo-img {
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    order: 1;
    margin-right: 4rem;
    img {
      display: block;
      width: 3rem;
      height: 3rem;
    }
}