@import "variables";
@import "mixin.scss";

* {
  @include overal;
}

body {
  background-color: $bgColor;
}

header {
  background-color: $primaryColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;

  h1 {
    @include textStyle(1.3rem, bold, $secondaryColor)
  }
}

.navbar {
  display: flex;
  align-items: center;

  .logo-img {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    img {
      display: block;
    }
}
}